*{
margin:0;
padding:0;
text-decoration:none;
list-style:none;
box-sizing:border-box;
}
.bodys{
color:black;
}
#introduction{
padding:10px;
}
#types{
padding:10px;
}
#advantages{
padding:10px;
}
#disadvantages{
padding:10px;
}
body{
background:transparent;
color:white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:1.24rem;
}
html{
    scroll-behavior: smooth;
}
.big{
font-size:35px;
}
.small{
font-size:25px;
}
.whiter{
color:white;
}
.more{
padding:10px 25px;
background:transparent;
border: 2px solid white;
color:white;
}
header{
position:sticky;
top:0;
display:flex;
width:100%;
justify-content:space-between;
align-items:center;
height:80px;
background-color:white;
color:black;
padding:0 100px;
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
backdrop-filter:blur(10px);
z-index:10;
}
img{
    margin-right:10px;
    border-radius:10px;
}
.logo{
font-size:25px;
}
.navbar ul{
display:flex;
}
.navbar ul li a{
display:block;
padding:10px 20px;
font-size:1rem;
color:black;
}
#Home{
padding:100px;
background:url("background.jpg");
background-repeat:norepeat;
background-size:cover;
}
#About{
padding:10px;
background:white;
color:black;
}
.container{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width:400px;
    height:300px;
    padding:10px;
    border-radius:20px;
    background:whitesmoke;
    justify-content: space-around;
    align-items:center;
    font-size:12px;
    display:inline-block;
    margin:60px;
    box-shadow:3px 3px 3px 3px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
}
#Service{
padding:10px;
background:whitesmoke;
color:black;
}
.hamburger{
    display:none;
}
#Contact{
    padding:10px;
    background:white;
    color:black;
}
button{
    padding:30px 80px;
    border:1px;
    cursor:pointer;
    background:black;
    color:white;
    font-size:20px;
font-family:Arial, Helvetica, sans-serif;
    border-radius:10px;
}
@media (max-width:1320px){
    body{
        font-size:1vw;
    }
}
@media (max-width:1000px){
    body{
        font-size:1vw;
    }
}
@media (max-width:767px){
body{
font-size:1em;
}
.logo{
font-size:20px;
}
    header{
        padding:0 50px;
    }
    img{
        width:100%;
        height:auto;
    }
    #Home{
        padding:0px;
    }
    #Service{
        padding:0px;
    }
    #Contact{
        padding:0px;
    }
    #About{
        padding:10px;
    }
    .hamburger{
        cursor:pointer;
        display:block;

    }
.small{
font-size:1em;
}
.smaller{
font-size:0.5em;
}
    .hamburger .link{
        width:30px;
        height:3px;
        margin:6px 0;
        background:black;
border-radius:10px;
    }
    .navbar{
       height:0px;
       position:absolute;
       z-index:1000;
       overflow:hidden;
       top:80px;
       left:0px;
       right:0px;
       background:white;
       opacity:1;
    }
.ones{
height:80px;
width:100%;
max-width:100px;
}
    .navbar ul{
    display:block;
    text-align:center;
    width:fit-content; 
   margin:80px auto 0px auto;
   opacity:0;
}
    .navbar ul li a{
    margin-bottom:12px;
    }
    .navbar.active{
    height:450px;
    }
   .navbar.active ul{
    opacity:1;
   }
   .container{
    justify-content:space-around;
   }
#introduction,#types,#advantages,#disadvantages{
padding:10px;
}
    .box{
     margin:1rem;
     height:auto;
    }
}
